body {
  margin: 0;
  padding: 0;
  background-image: url(../images/images-15.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.display {
  height: 80px;
  width: 100%;
  border: none;
  outline: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000;
  pointer-events: none;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid rgb(211, 208, 226);
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:hover {
  background-color: #ae75f8;
  color: #fff;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #7a1df3;
}
